{% extends "dssapp/base.html" %}

{% block title %}DSS Preferences{% endblock %}

{% block pagetitle %}  
	Preferences for {{semester.season}}
	{{semester.year}}
{%endblock%}

{% block head %}

{% endblock %}


{% block content %}

<p> It's time to schedule your DSS talk!  Below are the dates you can give your talk.  
	Please make sure that both you and your advisor(s) are available during the days you specify.</p>
	
<div class="event_description">
	<p>
		I <span class="prefer">prefer</span> to give my talk this date: this indicates that you would like to give your talk on this date, and the scheduler will try to satisfy this.
	</p>			
	<p>
		I am available to give my talk this date: this indicates that you are able to give your talk on this date, but do not prefer this date over others.
	</p>		
	<p>
		I <span class="reject">cannot</span> give my talk this date: this indicates that you are absolutely not available to talk on this date (because you will be out of town, have a prior committment, etc). The scheduler treats this as a hard constraint so you will not be scheduled on this date. Paper deadlines, expected classwork, etc do not qualify as hard constraints for DSS scheduling. Additionally, do not say you cannot give your talk on all but one or two dates. Marking too many dates with this may cause the scheduler to fail to find a feasible schedule, and will make the DSS chairs very unhappy. To resolve this, if they find that you are the one causing trouble, they may arbitrarily change your preferences.
	</p>

</div>

<p> Please note that if you
	do not fill out this form in a timely fashion, <span class="emph">we reserve the right to schedule you 
    during any of these days.</span> </p>

<p> If you are exempt from giving a DSS talk, please notify that here:
		<form method="post" action="add_exemption">
		{% csrf_token %}
		<input type="hidden" name="student" value="{{student.id}}" />
		<input type="hidden" name="redirect" value="message" />
		<select name="reason" name="reason" onchange="form.submit()">
			<option> PhD Dissertation</option>
			<option> PhD Proposal</option>
			<option> MS Thesis</option>
			<option> Not present </option>
			<option> Exempted for other reasons </option>
			<option> First-year student </option>
		</select>
		</form> 
	</p>

	<div class="clear"> </div>
		
	<form action="submit_preferences" method="post">
		{% csrf_token %}
		<input type="hidden" name="student_id" value="{{student.id}}" />
		
		{% for event in events %}
			<div class="event">
				<div class="event_header">
					<div class="event_date">
						&nbsp; {{ event.timestamp }}
					</div>
				
					<div class="event_type"></div>
				</div>
			
				<div class="clear"> </div>
			
				<div class="event_description">
					<p>
						<input id="{{event.id}}prefer" type="radio" name="{{event.id}}preference" value="prefer" {% ifequal event.pref "prefer" %} checked {% endifequal %}/> 
						<label for="{{event.id}}prefer"> I <span class="prefer">prefer</span> to give my talk this date. </label> 
					</p>
				
					<p>
						<input id="{{event.id}}available" type="radio" name="{{event.id}}preference" value="available" {% ifequal event.pref "available" %} checked {% endifequal %}/> 
						<label for="{{event.id}}available"> I am available to give my talk this date. </label> 
					</p>
				
					<p>
						<input id="{{event.id}}cannot" type="radio" name="{{event.id}}preference" value="cannot" {% ifequal event.pref "cannot" %} checked {% endifequal %}/> 
						<label for="{{event.id}}cannot"> I <span class="reject">cannot</span> give my talk this date. </label>
					</p>

				</div>
			</div>
		{% endfor %}
		
		<input type="submit">
	</form>

{% endblock %}