{% extends "dssapp/base.html" %}

{% block title %}DSS Preferences{% endblock %}

{% block pagetitle %}  
	Preferences for {{semester.season}}
	{{semester.year}}
{%endblock%}

{% block head %}

{% endblock %}


{% block content %}

<p> It's time to schedule your DSS talk!  Below are the dates you can give your talk.  
	Please make sure that both you and your advisor(s) are available during the days you specify.</p>

<p> Please note that if you
	do not fill out this form in a timely fashion, <span class="emph">we reserve the right to schedule you 
    during any of these days.</span> </p>

<p> If you are exempt from giving a DSS talk, please notify that here:
		<form method="post" action="add_exemption">
		{% csrf_token %}
		<input type="hidden" name="student" value="{{student.id}}" />
		<input type="hidden" name="redirect" value="message" />
		<select name="reason" name="reason" onchange="form.submit()">
			<option> PhD Dissertation</option>
			<option> PhD Proposal</option>
			<option> MS Thesis</option>
			<option> Not present </option>
			<option> Exempted for other reasons </option>
			<option> First-year student </option>
		</select>
		</form> 
	</p>

	<div class="clear"> </div>
		
	<form action="submit_preferences" method="post">
		{% csrf_token %}
		<input type="hidden" name="student_id" value="{{student.id}}" />
		
		{% for event in events %}
			<div class="event">
				<div class="event_header">
					<div class="event_date">
						&nbsp; {{ event.timestamp }}
					</div>
				
					<div class="event_type"></div>
				</div>
			
				<div class="clear"> </div>
			
				<div class="event_description">
			
					<p>
						<input id="{{event.id}}prefer" type="radio" name="{{event.id}}preference" value="prefer" {% ifequal e.pref "prefer" %} checked {% endifequal %}/> 
						<label for="{{event.id}}prefer"> I <span class="prefer">prefer</span> to give my talk this date. </label> 
					</p>
				
					<p>
						<input id="{{event.id}}available" type="radio" name="{{event.id}}preference" value="available" {% ifequal e.pref "available" %} checked {% endifequal %}/> 
						<label for="{{event.id}}available"> I am available to give my talk this date. </label> 
					</p>
				
					
					<p>
						<input id="{{event.id}}cannot" type="radio" name="{{event.id}}preference" value="cannot" {% ifequal e.pref "cannot" %} checked {% endifequal %}/> 
						<label for="{{event.id}}cannot"> I <span class="reject">cannot</span> give my talk this date. </label>
					</p>

				</div>
			</div>
		{% endfor %}
		
		<input type="submit">
	</form>

{% endblock %}