{% extends "dssapp/base.html" %}

{% block title %} DSS Schedule {% endblock %}
{% block pagetitle %} DSS Schedule for {{semester.season}} {{semester.year}} {% endblock %}
		

{% block head %}
	<script type="text/javascript">
		$().ready(function() {
			$('.clickable').click(function(elem) {
				b = $(this).children('.expandmotron');
				b.html('[' + (b.html() == '[+]' ? '-' : '+') + ']');
				
				$(this).siblings('.talk_description').toggle();
			});
			
		});

		function selection_change(){
			var page = "schedule?semester=" + $('#goto_semester')[0].value;
			document.location.href = page;
		}
	</script>
{% endblock %}

{% block content %}
	<p> Go to
		<select onchange="selection_change()" id="goto_semester">
			{% for s in all_semesters %}
				<option value="{{s.year}}.{{s.month}}"{% ifequal s semester %} selected{% endifequal %}>
					{{s.season}}
					{{s.year}}

				</option>
			{% endfor %}
		</select>
	</p>
	
	{% for event in events %}
		<div class="event {% if event.current %} current{% endif %}">
			<div class="event_header">
				<div class="event_date">
					&nbsp; {{ event.timestamp|date:"F d" }}
				</div>
				
				<div class="event_type">
					{{ event.event_type }} &nbsp;
				</div>
			</div>
			
			<div class="clear"></div>
			
			<div class="event_description">
				{% ifnotequal event.event_type "Break" %}
				<div class="speakers">
					<!-- Speakers: -->
					{% for talk in event.talks.all %}
					    <div class="talk">
							<div class="student_name"><a href="{% url dssapp.views.view_student talk.student.id %}">{{talk.student.name}}</a></div>
							{% if talk.title %}
							<div class="clickable title_container"><span class="expandmotron">[+]</span> <span class="talk_title">{{talk.title}}</span></div>
						
							<div class="talk_description" id="talk{{talk.id}}">
								
								<div class="abstract">
									{% autoescape off %}
									{{talk.abstract_name}}
									{% endautoescape %}
								</div>
								<div class="advisorlink">
									{{talk.student.name}} is advised by 
									{% for advisor in talk.student.advisors.all %}
										{% if forloop.first %}
										{% else %}
										and
										{% endif %}
										{{advisor.name}}{% if forloop.last %}.{% endif %}
									{% endfor %}
								</div>
							</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
				
				{% ifequal event.event_type "DSS" %}
				<div class="judges">
					Judges:
					{% for judge in event.judges.all %}
						<div class="judge">
					    {{judge.name}}
						</div>
					{% endfor %}
				</div>
				{% endifequal %}
				
				<div class="clear"></div>
				
				{% endifnotequal %}
				
				{% ifequal event.event_type "Break" %}
					{% if event.title %}
						There will be no seminar due to {{event.title}}.
					{% endif %}
				{% endifequal %}
				
				
			</div>
		</div>
	{% endfor %}
	
	
	
	
	{% if error %}
		<div id="error">{{error}}</div>
	{% endif %}

{% endblock %}