<html>

	<head>
		<link href="http://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet" type="text/css">
		<title> Admin | Student Dashboard </title>
		
		<link rel="stylesheet" type="text/css" href="static/css/dss.css">
		<script type="text/javascript" src="static/js/jquery-1.5.1.min.js"> </script>
		
		
		<script type="text/javascript">
			function toggle_select_all(type){
				if ($('#select_'+type+'_students')[0].checked){
					$('.student_'+type+'_box').attr('checked','checked')
				} else {
					$('.student_'+type+'_box').removeAttr('checked')
				}
				
			}
			
			function choose_action(){
				var action = '';
				var elements = $('#main_form')[0]['action']
				for (var i in elements){
					if (elements[i].checked){
						action = elements[i].value
						break;
					}
				}
				
				
				if (action == ''){
					return false;
				} else {
					$('#main_form').attr('action', action);
					return true;
				}
				
			}
			
			function select_nonresponsive_students(){
				{% for s in students %}
					{% if s.most_recent_email %}
						{% if s.responded %} {% else %}
							$('#{{s.id}}box').attr('checked', 'checked');
						{% endif %}
					{% endif %}
				{% endfor %}
				
			}
		</script>
	</head>
	
	<body>
		<h1> Admin | Student Dashboard </h1>
		
		<h3> All Students </h3>
		Select all
			<input type="button" value="Students that have not responded to latest email" onclick="select_nonresponsive_students()"/> 
		
		
		<form id="main_form" method="post" onsubmit="return choose_action()">
			{% csrf_token %}
			<h2> Regular Ph.D. Students </h2>
			<table>
				<tr>
					<th> <input type="checkbox" id="select_regular_students" onchange="toggle_select_all('regular')" /> </th>
					<th> Name </th>
					<th> Advisor (s) </th>
					<th> Last Email Sent </th>
					<th> Responded? </th>
					<th> Last talk semester</th>
				</tr>
			
				{% for s in nonexempt %}
				<tr>
					<td class="center"> <input type="checkbox" id="{{s.id}}box" name="{{s.id}}box" class="student_regular_box"/> </td>
					<td> {{s.name}} </td>
					<td> {{s.all_advisors}} </td>
					<td class="center"> {{s.most_recent_email}} </td>
					<td class="center"> {{s.responded|yesno:"Yes, No"}} </td>
					<td class="center"> {{s.last_talk.event_set.all.0.semester}}</td>
				</tr>
				{% endfor %}
			</table>
			
			<h2> Exempt Ph.D. Students </h2>
			<table>
				<tr>
					<th> <input type="checkbox" id="select_exempt_students" onchange="toggle_select_all('exempt')" /> </th>
					<th> Name </th>
					<th> Advisor (s) </th>
					<th> Last Email Sent </th>
					<th> Responded? </th>
					<th> Last talk semester</th>
					<th> Exemption reason </th>
				</tr>
			
				{% for s in exempt %}
				<tr>
					<td class="center"> <input type="checkbox" id="{{s.id}}box" name="{{s.id}}box" class="student_exempt_box"/> </td>
					<td> {{s.name}} </td>
					<td> {{s.all_advisors}} </td>
					<td class="center"> {{s.most_recent_email}} </td>
					<td class="center"> {{s.responded|yesno:"Yes, No"}} </td>
					<td class="center"> {{s.last_talk.event_set.all.0.semester}}</td>
					<td class="center"> {{s.reason}}</td>
					
				</tr>
				{% endfor %}
			</table>
			
			<h2> Graduates </h2>
			<table>
				<tr>
					<th> <input type="checkbox" id="select_graduate_students" onchange="toggle_select_all('graduate')" /> </th>
					<th> Name </th>
					<th> Advisor (s) </th>
					<th> Last Email Sent </th>
					<th> Responded? </th>
					<th> Last talk semester</th>
				</tr>
			
				{% for s in graduates %}
				<tr>
					<td class="center"> <input type="checkbox" id="{{s.id}}box" name="{{s.id}}box" class="student_graduate_box"/> </td>
					<td> {{s.name}} </td>
					<td> {{s.all_advisors}} </td>
					<td class="center"> {{s.most_recent_email}} </td>
					<td class="center"> {{s.responded|yesno:"Yes, No"}} </td>
					<td class="center"> {{s.last_talk.event_set.all.0.semester}}</td>
				</tr>
				{% endfor %}
			</table>
			
			<h2> Not present </h2>
			<table>
				<tr>
					<th> <input type="checkbox" id="select_notpresent_students" onchange="toggle_select_all('notpresent')" /> </th>
					<th> Name </th>
					<th> Advisor (s) </th>
					<th> Last Email Sent </th>
					<th> Responded? </th>
					<th> Last talk semester</th>
				</tr>
			
				{% for s in not_present %}
				<tr>
					<td class="center"> <input type="checkbox" id="{{s.id}}box" name="{{s.id}}box" class="student_notpresent_box"/> </td>
					<td> {{s.name}} </td>
					<td> {{s.all_advisors}} </td>
					<td class="center"> {{s.most_recent_email}} </td>
					<td class="center"> {{s.responded|yesno:"Yes, No"}} </td>
					<td class="center"> {{s.last_talk.event_set.all.0.semester}}</td>
				</tr>
				{% endfor %}
			</table>
			
			<p><input type="radio" id="email_button" name="action" value="email_students" checked/>  <label for="email_button" > Email Students </label> </p>
			<p><input type="radio" id="schedule_button" name="action" value="schedule_students" />  <label for="schedule_button" > Schedule Students </label> </p>
			
			<p><input type="submit" /></p>
		</form>
	</body>
	
</html>