{% extends "dssapp/base.html" %}

{% block title %} DSS Schedule {% endblock %}
{% block pagetitle %} {{student_name}} {% endblock %}
		

{% block head %}
	<script type="text/javascript">
	
	function set_desc_size() {
		$('.talk_body').width($('h2').width() - $('.video').width() + 8);
	}
	
	
	$().ready(function() {
		set_desc_size();
		$(window).resize(function(ev) {
			set_desc_size()
		})
	})
	</script>
{% endblock %}


{% block content %}
	{% for talk in student.talk_set.all %}
		<div class="event">
			<h2>{{talk.title}}</h2>
			<div class="talk_body">
				<div class="talk_info">
					<div class="talk_meta_info">{% if talk.event_set.all.0.timestamp > now %}To be presented on {% else %} Presented on {% endif %} {{talk.event_set.all.0.timestamp|date:"F d, Y"}}
					{% if talk.video_link %}
					&nbsp;
					<a href="../{{talk.video_link}}">Download</a>
					{% endif %}
					</div>
					<div class="abstract">
						{% autoescape off %}
						{{talk.abstract_name}}
						{% endautoescape %}
					</div>
				</div>
			</div>
			<div class="video">
				{% if talk.video_link %}
				
				<video src="{{talk.video_link}}" width="320" height="240" controls="controls">
				Your browser does not support the video tag.
				</video>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
