body{
    font-family: 'Metrophobic', arial, serif;
}

th {
    background: #A8C1CF;
    color: black;
}

td,th {
    padding-left: 10px;
    padding-right: 10px;
}

td.center {
    text-align: center;
}


.delete_button{
    float:right;
}

div.ui-datepicker{
 font-size:14px;
}

.event {
    margin-bottom: 15px;
    background: #FCF2D8;
}

.event_description{
/*    padding-left: 3ems;*/
    padding-right: 15px;
    font-size: 16;
}

.talk_description{
    padding: 1em;
/*    background: #A8C1CF;*/
    font-size: 10pt;
    display: none;
/*    width: 90%;*/
    margin: 0 1em 0 1em;
    border-top: 1px #274F67 dashed;
}

.talk_title {
/*    font-style: italic;*/
/*    font-weight: bold;*/
    margin-bottom: 5px;
}

.student_name {
    font-weight: bold;
}

.abstract {
    margin-bottom: 5px;
}

.event_date {
    float:left;
    background:#274F67;
    width: 75%;
    font-size:20px;
    color:white;
    height:1.3em;

}

.event_type {
    float:right;
/*    background:#616F77;*/
    background:#274F67;
    color:white;
    width: 25%;
    text-align:right;
    font-size:20px;
    height:1.3em;

}

.speakers {
    float:left;
    width: 75%;
}

.judges {
    float:right;
    width: 25%;
}

.clear {
    clear:both;
}

.error {
    color: red;
}

.row_title {
    font-weight: bold;
}

#template_box {
    float:left;
    width: 500px;
    
}

#preview_box {
    display:inline-block;
    margin-left: 10px;
    width: 500px;
}

#template {
    width: 475px;
    height: 475px;
    margin-left: 7px;
}

#preview {
    margin-left: 7px;
    height: 475px;
    width: 475px;
    border: 1px solid gray;
}

.clickable:hover { cursor: pointer;}

.title_container {
    margin-left: 2em;
}

.emph {
    font-style: italic;
    
}

.prefer {
    color: green;
}

.reject {
    color: red;
}

.cell {
    min-width: 30px;
    min-height: 30px;
}

.none_background {
    background: #3399CC;
    border: 1px solid black;
}

.cannot_background {
    background: #ff6666;
    border: 1px solid black;
    
}

.available_background {
    background: white;
    border: 1px solid black;
    
}

.prefer_background {
    background: #66cc66;
    border: 1px solid black;
    
}